@import "../../assets/styles/vars.scss";

.Card {
  margin-top: 60px;
  border-bottom: 1px solid $placeholder;
  display: grid;
  width: calc(100% - 19px);
  padding: 12px 0;
  margin: 0;
  list-style-type: none;
  gap: 0 32px;
  grid-template-columns: 209px 271px 300px;

  &__content {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;

    & a {
      text-decoration: none;
      color: $text-dark;
      line-height: 40px;
    }

    & a:hover {
      text-decoration: underline;
    }
  }

  &__saved-value {
    font-style: normal;
    color: $text-light;
    font-weight: $font-weight-400;
    font-size: $font-size-12;
    line-height: $line-height-12;
    margin-left: 3px;
  }

  &__input {
    box-sizing: border-box;
    margin-top: 4px;
    width: 100%;
    height: 32px;
    border: 1px solid $white;
    border-radius: 4px;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-24;

    &::placeholder {
      color: $placeholder;
    }

    &:focus {
      outline: 0;
      border-color: $input-hover;
      filter: drop-shadow(0px 0px 4px rgba(78, 59, 255, 0.25));
    }

    &:hover {
      border-color: $input-hover;
    }
  }

  @media (max-width: 1300px) {
    & {
      border: unset;
      margin-top: 0;

      &__content {
        border-bottom: 1px solid $placeholder;
      }
    }
  }
}
