@import '../../../assets/styles/vars.scss';

.InputText {

    &-input-text {
        height: 48px;
        border: 1px solid #100C34;
        border-radius: 4px;
        background-color: #FFFFFF;
        outline: none;
        position: relative;
        overflow: hidden;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 12px 16px;
        box-sizing: border-box;
    }

    &-input-text::placeholder {
        font-family: 'IBM Plex Sans';
        color: #83828F;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        position: relative;
    }

    &-input-text:hover {
        border: 1px solid #666666;
    }

    &-input-text:focus {
        border: 1px solid #666666;
    }
}