@import "../../../assets/styles/vars.scss";

.InputText {
  &__input-text {
    width: 100%;
    height: 48px;
    border: 1px solid #100c34;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    position: relative;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 12px 16px;
    box-sizing: border-box;

    &:focus {
      outline: 0;
      border: 1px solid #666666;
      filter: drop-shadow(0px 0px 4px rgba(78, 59, 255, 0.25));
    }
  }

 
}
