@import "../../assets/styles/vars.scss";

.CommentBar {
  min-height: 89px;
  max-width: 321px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 45px;
  right: 2px;
  background-color: #FFFFFF;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

  &-commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 12px 0;
    max-height: 140px;
    overflow-y: auto;
    scrollbar-color: $text-light white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow-x: hidden;
  }

  &-commentsContainer::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: white;
  }

  &-commentsContainer::-webkit-scrollbar-thumb {
    background: $text-light;
    -webkit-border-radius: 20px;
  }

  &-commentForm {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
  }

  &-emojiContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 13px 0 0 0;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .CommentBar {
    max-width: 338px;
  }
}

@media screen and (max-width: 320px) {
  .CommentBar {
    max-width: 268px;

  }
}