@import "../../assets/styles/vars.scss";

.CommentBar {
  min-height: 89px;
  width: 321px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  position: absolute;
  top: 45px;
  right: 2px;
  background-color: #FFFFFF;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

  &-commentsContainer {
    display: none;
  }

  &-commentForm {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
  }

  &-commentInput {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #F3F3F3;
    border: none;
    margin: 0;
    font-size: $font-size-14;
    line-height: $line-height-20;
    color: $text-dark;
    resize: none;
    display: block;
    border-radius: 4px;
  }

  &-commentInput:focus {
    outline: $text-dark solid 1px;
  }

  &-commentInput::placeholder {
    color: $text-light;
    font-family: $YT;
    font-style: normal;
    font-weight: 400;
  }

  &-emojiContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 13px 0 0 0;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }


}