@import "../../assets/styles/vars.scss";

.AddingUsers {
//   border: 1px solid green;
  &-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  &-text {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &-input {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    background-color: rgba(16, 12, 52, 0.1);
    &::file-selector-button {
      visibility: hidden;
    }
  }
  &-button {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $link-gray;
    height: 44px;
    background: linear-gradient(269.17deg, #3b23b7 30.28%, #c914e7 63.24%);
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
  &-button-text {
    font-style: normal;
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    line-height: $line-height-20;
  }
}
