@import "../../assets/styles/vars.scss";

.HeaderMenu{
  display: none;

  &__navContainer {
    position: absolute;
    top: -40px;
    right: -24px;
    width: min-content;
    background-color: $white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
    padding: 40px 24px 32px;
    opacity: 0;
    animation: ani 0.7s forwards;
  }

  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  &__userContainer {
    max-width: 248px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    margin: 0 0 22px;
    color: $text-dark;
  }
  
  &__userIcon {
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &__userName {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    max-width: 212px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  &__link {
    background-color: none;
    border-radius: 4px;
    font-size: $font-size-16;
    line-height: $line-height-20;
    color: $text-dark;
    text-align: start;
    margin: 0 auto;
    padding: 8px 36px;
    text-decoration: none;
  }
  
  &__link:hover {
    background-color: $select-gray;
  }

  &__button {
    font-family: $base-font-family;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: $font-size-16;
    line-height: $line-height-20;
    color: $text-dark;
    text-align: start;
    margin: 16px auto 0;
    padding: 8px 36px;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $select-gray;
  }

  @media screen and (max-width: 767px) {

    &__navContainer {
     visibility: hidden;
    }
    
}
}