@import "../../assets/styles/vars.scss";

.UsersBlock {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 285px);
  gap: 0px 40px;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;

    &__mobile-container {
      order: 2;
    }

    & .AddingUsers {
      order: 1;
      margin-bottom: 20px;
    }
  }
}
