@import '../../../assets/styles/vars.scss';

.InputTextarea {
    &-textarea::placeholder {
        font-family: 'IBM Plex Sans';
        color: #83828F;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        position: relative;
    }

    &-textarea {
        border: 1px solid #100C34;
        border-radius: 4px;
        background-color: #FFFFFF;
        outline: none;
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        height: 102px;
        text-align: start;
        resize: none;
        padding: 16px 14px;
        width: 93%;
        overflow: auto;
    }
}