.DeleteBtn {
  &__delete-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url("../../assets/images/delete-icon.svg");
    &:hover {
      filter: drop-shadow(0px 0px 2px rgba(233, 13, 65, 0.6));
      cursor: pointer;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
}