@import "../../assets/styles/vars.scss";

.Comment {
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 0;
  padding: 7px 0;
  border-bottom: 1px solid $text-dark;

  &-content {
    display: block;
    padding: 0;
    margin: 0;
    font-size: $font-size-16;
    line-height: $line-height-20;
    color: $text-dark;
    text-align: left;
  }

}

.Comment:first-of-type {
  padding: 0 0 7px 0;
}

.Comment:last-of-type {
  padding: 7px 0 0 0;
  border-bottom: none;
}

