@import "../../assets/styles/vars.scss";

.UsersList {
  &__mobile-container {
    overflow-x: scroll;
    margin-top: 60px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $placeholder;
      border-radius: 7px;
    }
  }

  &__table-header {
    border-bottom: 1px solid $placeholder;
    width: calc(100% - 20px);
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 0 40px;
    grid-template-columns: 200px 263px minmax(191px, 1fr);
  }

  &__column-title {
    width: 100%;
    max-height: 20px;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-24;
    color: $placeholder;
    margin-bottom: 11px;
  }

  @media (max-width: 1300px) {
    &__table-header {
      border-bottom: none;
    }

    &__column-title {
      border-bottom: 1px solid #83828f;
      padding-bottom: 10px;
    }
  }
}
