@import "../../../assets/styles/vars.scss";

.InputAvatar {
  &-add-photo__input {
    margin: auto;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    filter: grayscale(100%);
    position: relative;
  }

  &-photo {
    width: 150px;
    height: 150px;
    background-image: url("../../../assets/images/union.svg");
    background-repeat: no-repeat;
    background-position: 50% 95%;
    background-color: rgba(16, 12, 52, 0.1);
    border-radius: 50%;

    clip-path: inset(80% 0 0 0);
  }

  &-photo::file-selector-button {
    visibility: hidden;
    overflow: hidden;
  }

  &-photo::file-upload-button {
    visibility: hidden;
    overflow: hidden;
  }

  &-photo:hover {
    background-image: url("../../../assets/images/union.svg");
    background-repeat: no-repeat;
    background-color: rgba(16, 12, 52, 0.3);
    border-radius: 50%;
    // clip-path: inset(80% 0 0 0);
    z-index: 999;
    cursor: pointer;
    transition: 0.2s ease;
    box-sizing: border-box;
  }
}
