@import "../../assets/styles/vars.scss";

.ChatButton {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 19px;
  right: 19px;

  &-button {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;

  }

  &-buttonImg {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &-commentCounter {
    min-width: 20px;
    height: 19px;
    padding: 0;
    margin: 0;
    display: inline-block;
    border-radius: 40px;
    font-size: 12px;
    line-height: 20px;
    background-color: black;
    color: white;
    position: absolute;
    top: -10px;
    right: -5px;
    text-align: center;
  }
}
