@import "../../assets/styles/vars.scss";

.Card {
  margin-top: 60px;
  border-bottom: 1px solid $placeholder;
  display: grid;
  width: 100%;
  padding: 12px 0;
  margin: 0;
  list-style-type: none;
  gap: 0 24px;
  grid-template-columns: 70px 100px 190px 190px 180px 442px 24px;

  &-content {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
  }

  &-content-deleted {
    text-decoration: line-through;
  }

  &-content a {
    text-decoration: none;
    color: $text-dark;
  }

  &-content a:hover {
    text-decoration: underline;
  }

  &-delete-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    background-image: url("../../images/cross-circled.svg");
    &:hover {
      filter: drop-shadow(0px 0px 2px rgba(233, 13, 65, 0.6));
      cursor: pointer;
    }
  }

  &-button-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
  }
}
