@import '../../assets/styles/vars.scss';

.Auth {
    padding-top: 200px;

    &-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &-title {
        font-weight: $font-weight-700;
        font-size: $font-size-40;
        line-height: $line-height-52;
        margin: 0 0 72px 0;
    }
}