@import "../../assets/styles/vars.scss";

.Header {
  padding: 40px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__status {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 25%;
  }
  
  &__statusText {
    text-align: left;
    min-width: 150px;
  }

  &__button {
    font-family: $base-font-family;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: $text-dark;
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 8px 8px;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $select-gray;
  }
}
