@import "../../assets/styles/vars.scss";

.MiniProfile {
  display: flex;
  justify-content: flex-end;

  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &-avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border-radius: 50%;
  }

  &-name {
    color: $text-dark;
    line-height: $line-height-20;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    &-name {
      display: none;
    }
  }
}
