@import "../../assets/styles/vars.scss";

.DetailPage {
  height: 100%;

  &-section {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    flex-wrap: wrap;
  }

  &-container {
    display: flex;
    column-gap: 70px;
    flex-wrap: wrap;
  }

  &-userName {
    font-weight: $font-weight-500;
    font-size: $font-size-60;
    line-height: $line-height-60;
    margin: 0 0 97px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-photoStudent {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 440px;
    max-height: 440px;
  }

  &-blockUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 443px;
    max-height: 440px;
  }

  &-socialNetwork {
    display: flex;
    gap: 20px;
    margin: 17px 0 0 0;
  }

  &-socialNetwork {
    width: 32px;
    height: 32px;
  }

  &-city {
    margin: 0;
    padding: 0;
    line-height: $line-height-24;
  }

  &-blockQuote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 255px;
    max-height: 117px;
    margin: 41px 0 0 14px;
  }

  &-quoteIcon {
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
  }

  &-quote {
    margin: 0;
    padding: 0;
    font-size: $font-size-24;
    line-height: $line-height-32;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-twoСolumns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 70px;
    padding-top: 72px;
    margin-bottom: 96px;
  }

  &-thematicBlock {
    position: relative;
    max-width: 440px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-thematicTitle {
    text-transform: uppercase;
    font-weight: $font-weight-700;
    font-size: $font-size-14;
    margin: 0;
  }

  &-line {
    margin: 0;
    padding: 0;
  }

  &-thematicTitleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 15px 0;
  }

  &-thematicTitle {
    line-height: $line-height-24;
  }

  &-description {
    margin: 0;
    min-height: 144px;
    line-height: $line-height-24;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-comment {
    position: absolute;
    top: 23px;
    right: 16px;
    background-image: url(../../assets/images/comment.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  &-commentNum {
    text-align: center;
    position: absolute;
    top: -3px;
    right: -5px;
    background-image: url(../../assets/images/commentNum.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    color: white;
    font-size: $font-size-12;
    line-height: $line-height-12;
    margin: 0;
    padding: 0;
  }

  &-commentPhotoStudent {
    composes: DetailPage-comment;
    top: 16px;
    right: 16px;
  }

  &-commentBlockQuote {
    composes: DetailPage-comment;
    top: 0px;
    right: 16px;
  }
}

@media screen and (max-width: 1399px) {
  .DetailPage {
    &-section {
      row-gap: 16px;
    }

    &-container {
      column-gap: 67px;
      row-gap: 30px;
    }

    &-twoСolumns {
      column-gap: 20px;
      row-gap: 28px;
      margin-bottom: 76px;
    }

    &-photoStudent {
      max-width: 342px;
      max-height: 342px;
    }

    &-blockUser {
      max-width: 295px;
      max-height: 258px;
      justify-content: flex-end;
      align-self: flex-end;
    }

    &-userName {
      font-size: $font-size-40;
      line-height: $line-height-40;
      margin: 0 0 95px 0;
    }

    &-blockQuote {
      margin: 0 85px 0 0;
    }

    &-thematicBlock {
      max-width: 342px;
    }
  }
}

@media screen and (max-width: 767px) {
  .DetailPage {
    &-section {
      row-gap: 20px;
    }

    &-photoStudent {
      max-width: 272px;
      max-height: 272px;
    }

    &-userName {
      font-size: $font-size-32;
      line-height: $line-height-40;
      margin: 0 0 24px 0;
    }

    &-thematicBlock {
      max-width: 272px;
    }

    &-twoСolumns {
      row-gap: 32px;
      padding-top: 32px;
      margin-bottom: 105px;
      justify-content: center;
    }

    &-blockQuote {
      max-width: 272px;
      margin: 0;
    }

    &-comment {
      right: 8px;
    }
  }
}
