@import "../../assets/styles/vars.scss";

.DropdownMenu {
  display: inline-block;
  max-width: 100%;
  min-width: 325px;
  text-align: left;
  position: relative;
  font-family: $base-font-family;
  font-size: $font-size-16;
  color: $text-dark;

  &:hover {
    cursor: pointer;
  }

  &__selectHome {
    background-color: transparent;
    padding: 12px 16px;
    height: 24px;
    border: 1px solid $text-dark;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../../assets/images/down-arrow.svg") calc(100% - 20px) 20px no-repeat no-repeat;
  }

  &__open {
    background-color: transparent;
    padding: 12px 16px;
    height: 24px;
    border: 1px solid $text-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0 0;
    background: url("../../assets/images/up-arrow.svg") calc(100% - 20px) 20px no-repeat no-repeat;
  }

  &__select:hover {
    color: $placeholder;
    border: 1px solid $placeholder;
  }

  &__text {
    padding: 0;
    margin: 0;
  }

  &__arrow {
    display: block;
    width: 15px;
    height: 7.5px;
    object-fit: contain;
  }

  &__select-options {
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    max-height: 245px;
    z-index: 99;
    overflow-y: auto;
    scrollbar-color: $text-light white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    border-right: 1px solid $text-dark;
    border-left: 1px solid $text-dark;
    border-bottom: 1px solid $text-dark;
    width: 99.5%;
  }

  &__select-options::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: white;
  }

  &__select-options::-webkit-scrollbar-thumb {
    background: $text-light;
    -webkit-border-radius: 20px;
  }

  &__custom-select-option {
    list-style-type: none;
    padding: 12px 16px;
    margin: 0;
    background: white;
    cursor: pointer;
  }

  &__custom-select-option:hover {
    background-color: $neon-pink;
    color: #ffffff;
  }
}

@media screen and (max-width: 1024px) {
  .DropdownMenu {
    width: 440px;
    min-width: auto;

    &__select-options {
      width: 100%;
    }
  }
}

@media screen and (max-width: 440px) {
  .DropdownMenu {
    width: 440px;

    &__select-options {
      width: 100%;
    }
  }
}

@media screen and (max-width: 320px) {
  .DropdownMenu {
    width: 272px;

    &__select-options {
      width: 270px;
    }
  }
}
