@import "../../assets/styles/vars.scss";


.DropdownMenu {
  display: inline-block;
  width: 325px;
  text-align: left;
  position: relative;
  font-family: $base-font-family;
  font-size: $font-size-16;
  color: $text-dark;

  &-select {
    background-color: transparent;
    padding: 12px 16px;
    border: 1px solid $text-dark;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-open {
    background-color: transparent;
    padding: 12px 16px;
    border: 1px solid $text-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0 0;
  }

  &-select:hover {
    color: $placeholder;
    border: 1px solid $placeholder;
  }

  &-text {
    padding: 0;
    margin: 0;
  }

  &-arrow {
    display: block;
    width: 15px;
    height: 7.5px;
    object-fit: contain;
  }

  &-select-options {
    margin: 0;
    padding: 0;
    text-align: left;
    position: absolute;
    max-height: 245px;
    z-index: 99;
    overflow-y: auto;
    scrollbar-color: $text-light white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    border-right: 1px solid $text-dark;
    border-left: 1px solid $text-dark;
    border-bottom: 1px solid $text-dark;
    width: 323px;
  }

  &-custom-select-option {
    list-style-type: none;
    padding: 12px 16px;
    margin: 0;
    background: white;
    cursor: pointer;
  }

  &-custom-select-option:hover {
    color: $placeholder;
  }
}

.DropdownMenu:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .DropdownMenu {
    width: 342px;

    &-select-options {
      width: 340px;
    }
  }
}

@media screen and (max-width: 414px) {
  .DropdownMenu {
    width: 272px;

    &-select-options {
      width: 270px;
    }
  }
}