@import "../../assets/styles/vars.scss";

.SearchInput {
  &__label {
    margin: 0;

    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-24;

    color: $text-dark;
  }

  &__input {
    box-sizing: border-box;
    margin-top: 4px;
    width: 100%;
    max-width: 1015px;
    height: 48px;
    border: 1px solid $text-dark;
    border-radius: 4px;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-24;

    &::placeholder {
      color: $placeholder;
    }

    &:focus {
      outline: 0;
      border-color: $input-hover;
      filter: drop-shadow(0px 0px 4px rgba(78, 59, 255, 0.25));
    }
    &:hover {
      border-color: $input-hover;
    }
  }

  @media (max-width: 1100px) {
    &__input {
      max-width: 100%;
    }
  }
}
