@import "../../assets/styles/vars.scss";

.AutoTextArea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  background-color: #F3F3F3;
  border: none;
  margin: 0;
  font-size: $font-size-14;
  line-height: $line-height-20;
  color: $text-dark;
  resize: none;
  display: block;
  border-radius: 4px;
}

.AutoTextArea:focus {
  outline: $text-dark solid 1px;
}

.AutoTextArea::placeholder {
  color: $text-light;
  font-family: $YT;
  font-style: normal;
  font-weight: 400;
}