@import "../../assets/styles/vars.scss";

.Footer {
  padding: 24px 0;
  border-top: 1px solid rgba(16, 12, 52, 0.3);
  height: 24px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-copyright {
    line-height: $line-height-24;
    margin: 0;
  }
}
