@import "../../assets/styles/vars.scss";

.Scrollbar-container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $placeholder;
    border-radius: 7px;
  }

  @media (max-width: 1300px) {
    & {
      overflow-x: initial;
    }
  }
}
