@import "../../assets/styles/vars.scss";

.CommentsList {
  margin-top: 60px;
  border-bottom: 1px solid $placeholder;
  width: calc(100% - 24px);

  &__table-header {
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 0 24px;
    grid-template-columns: 70px 100px 190px 190px 180px 442px;
  }

  &__column-title {
    width: 100%;
    max-height: 20px;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-24;
    color: $placeholder;
    margin-bottom: 11px;
  }

  &__error-text {
    margin-top: 11px;
    color: $error;
  }

  @media (max-width: 1300px) {

    & {
      border: unset;
      margin-top: 0;

      &__column-title {
        border-bottom: 1px solid #83828f;
        padding-bottom: 10px;
      }

      &__mobile-container {
        overflow-x: scroll;
        margin-top: 60px;
      }
    }
  }
}
