/* Шрифты */
$base-font-family: IBM, Arial, sans-serif;
$YT: YT;

/* Цвета */
$white: #fff;
$text-dark: #100c34;
$text-light: #a3a3a3;
$input-hover: #666;
$placeholder: #83828f;
$neon-pink: #ff00a8;
$neon-green: #38ec42;
$error: #e90d41;
$link-gray: #f0f0f0;
$hover-gray: #bfbfbf;
$select-gray: #f8f8f8;

/* Типография */
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$font-size-60: 60px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

$line-height-60: 60px;
$line-height-52: 52px;
$line-height-40: 40px;
$line-height-32: 32px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-20: 20px;
$line-height-18: 18px;
$line-height-16: 16px;
$line-height-12: 12px;
