/* Шрифты */
$base-font-family: IBM, Arial, sans-serif;

/* Цвета */
$text-dark: #100C34;
$text-light: #A3A3A3;
$input-hover: #666;
$placeholder: #83828F;
$neon-pink: #FF00A8;
$neon-green: #38EC42;
$error: #E90D41;
$link-gray: #F0F0F0;
$hover-gray: #BFBFBF;

/* Типография */
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$font-size-60: 60px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;


$line-height-60: 60px;
$line-height-52: 52px;
$line-height-40: 40px;
$line-height-32: 32px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-20: 20px;
$line-height-18: 18px;
$line-height-12: 12px;