@import '../../assets/styles/vars.scss';

.DetailHobby {
        position: relative;
        min-height: 342px;
        max-width: 440px;
        text-overflow: ellipsis;
        border-top: 3px solid $text-dark;
        overflow: hidden;

        &-Head {
            margin: 8px 0 15px 0;
        }

        &-Title {
            font-size: $font-size-14;
            font-weight: $font-weight-700;
            line-height: $line-height-24;
            text-transform: uppercase;
            margin: 0;
        }

        &-Description {
            margin: 0;
            min-height: 144px;
            line-height: $line-height-24;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-Image {
            width: 210px;
            height: 130px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 12px;
        }
}