@import "../../assets/styles/vars.scss";

.HomePage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 179px);
  text-rendering: optimizeLegibility;
  font-weight: $font-weight-400;
  font-size: $font-size-16;
  line-height: $line-height-24;
  box-sizing: border-box;

  &__optionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__mapLink {
    text-decoration: none;
    color: $text-dark;
    opacity: 1;
    transition: opacity 0.4s;
  }

  &__mapLink:hover {
    color: $placeholder;
    opacity: 0.8;
  }

  &__cardContainer {
    display: grid;
    margin: 40px 0 0 0;
    grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
    grid-template-rows: repeat(auto-fit, minmax(393px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(393px, 1fr);
  }

  &__error-text {
    margin-top: 11px;
    color: $error;
  }
}

@media screen and (max-width: 1024px) {
  .HomePage {
    &__cardContainer {
      display: grid;
      margin: 32px 0;
      grid-template-columns: repeat(auto-fit, minmax(325px, 342px));
      grid-template-rows: repeat(auto-fit, minmax(410px, 1fr));
      gap: 20px;
      grid-auto-flow: row;
      grid-auto-rows: minmax(410px, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .HomePage {
    padding: 0 32px;

    &__cardContainer {
      display: grid;
      margin: 32px 0;
      grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(410px, 1fr));
      gap: 20px;
      grid-auto-flow: row;
      grid-auto-rows: minmax(410px, 1fr);
    }
  }
}

@media screen and (max-width: 412px) {
  .HomePage {
    padding: 0 24px;

    &__optionsContainer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: end;
      height: 96px;
    }

    &__cardContainer {
      display: grid;
      margin: 32px 0;
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
      gap: 20px;
      grid-auto-flow: row;
      grid-auto-rows: minmax(340px, 1fr);
    }
  }
}
