@import "../../assets/styles/vars.scss";

.HomePage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60vh;
  text-rendering: optimizeLegibility;
  font-weight: $font-weight-400;
  font-size: $font-size-16;
  line-height: $line-height-24;

  &-optionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-mapLink {
    text-decoration: none;
    color: $text-dark;
    opacity: 1;
    transition: opacity 0.4s;
  }

  &-mapLink:hover {
    color: $placeholder;
    opacity: 0.8;
  }

  &-cardContainer {
    display: grid;
    max-height: 806px;
    margin: 40px 0;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(393px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(393px, 1fr);
    overflow-y: scroll;
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: initial;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

}

@media screen and (max-width: 1024px) {
  .HomePage {
    padding: 0 32px;

    &-cardContainer {
      display: grid;
      max-height: 840px;
      margin: 32px 0;
      grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(410px, 1fr));
      gap: 20px;
      grid-auto-flow: row;
      grid-auto-rows: minmax(410px, 1fr);
    }
  }
}

@media screen and (max-width: 414px) {
  .HomePage {
    padding: 0 24px;

    &-optionsContainer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: end;
      height: 96px;
    }

    &-cardContainer {
      display: grid;
      max-height: 1420px;
      margin: 32px 0;
      grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
      gap: 20px;
      grid-auto-flow: row;
      grid-auto-rows: minmax(340px, 1fr);
    }
  }
}